.tour-guide-container-wrapper, 
.tour-guide-toolbar-wrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.tour-guide-toolbar-wrapper > .toolbar {
    height: 60px;
}

.tour-guide-buttons-row {
    width: 100%;
    text-align: center;
}

.tour-guide-button {
    background-color: #0a6ebd;
    color: #fff;
    border: none;
}

.tour-guide-header {
    height: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.tour-guide-message {
    height: 20%;
    text-align: center;
}